@mixin flex($direction: row, $flex-wrap: nowrap) {
  display: flex;
  flex-direction: $direction;
  flex-wrap: $flex-wrap;
}
@mixin flex-utils($justify: flex-start, $align-items: stretch) {
  justify-content: $justify;
  align-items: $align-items;
}
@mixin phone-md() {
  @media (min-width: 428px) {
    @content;
  }
}
@mixin tablet() {
  @media (min-width: 768px) {
    @content;
  }
}
@mixin desktop() {
  @media (min-width: 1440px) {
    @content;
  }
}